$about-primary-color: #618dfb;
$about-card-color:#61fbcf;

@mixin h3-lettering {
  letter-spacing: .15vw;
  font-weight: 600;
}

@mixin border-shadow {
  border-color: black;
  border-style: solid;
  border-width: 0;
  box-shadow: 3px 3px 3px black;
}

.about {
    background-color: aquamarine;
    width: 400px;
    height: 1500px;
  }
  .name-header {
    letter-spacing: .5vw;
    font-weight: 400;
    animation-name: moveInTop;
    animation-duration: 2s;
  }

  h3  {
    @include h3-lettering; 
  }

 
  .job-title {
    background-image: linear-gradient(to right, #1c3fff,black);
    -webkit-background-clip: text;
    color:transparent;
  }

  .main-focus {
    font-weight: 500;
    letter-spacing: .10vw;
  }

  .education-title {
    font-weight: 600;
    letter-spacing: .10vw;
  }

  .aboutContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    height: auto;
    width: 100vw;
    margin-top: 10vh;
    background-color: $about-primary-color;
    opacity: .8;


  
  }

  .aboutTextContainer {
    margin-left: 10px;
    text-align: left;
    height: auto;
    width: 100vw;
    line-height: 1.5;
    font-size: larger;
    color: black;
    margin-right: 8vw;
    margin-left: 5vw;
    margin-bottom: 1vh;
  
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .photoCard {
    perspective: 1500px;
    position: relative;
    height: 58vh;
    width: 65vw;
    margin: 2vw;
    margin-left: 5vw;
    backface-visibility: hidden;
    animation-name: moveInLeft;
    animation-duration: 2s;
    transition: all 2s;


  &:hover .card-front{
    transform: rotateY(180deg);
  }

  &:hover .card-back{
    transform: rotateY(0);
  }

  }

  .card {
    height: 58vh;
    width: 100%;

    position: absolute;
    left:0;
    backface-visibility: hidden;
    transition: all .9s;
    @include border-shadow ;

    &-front {
 
      background-image: url('../images/smallMainPhoto.png');
      background-size: cover;
      background-position: center;
      background-color: coral;
    }

   &-back {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    background-color: $about-card-color;
    transform: rotateY(180deg);
  }

  &-content {
    font-size: x-large;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: break-all;
  }

  &-icon {
    width:50px
  }

  }

/*   .aboutPhoto {
    height: 58vh;
    width: 30vw;
    margin: 2vw;
    margin-left: 5vw;
    @include border-shadow ;
    animation-name: moveInLeft;
    animation-duration: 2s;
    transition: all .2s;

    &:hover {
      transform: scale(1.05) skew(-1deg);
      box-shadow: 5px 5px 5px black;
      
    }
  } */

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform:translateX(-10vw)
    }

    100% {
      opacity:1;
      transform: translateX(0)
    }
  }
  @keyframes moveInRight{
    0% {
      opacity: 0;
      transform:translateX(10vw)
    }

    100% {
      opacity:1;
      transform: translateX(0)
    }
  }

  @keyframes moveInTop{
    0% {
      opacity:0;
      transform:translateY(-10vh)
    }

    100% {
      opacity:1;
      transform:translateY(0)
    }
  }


  .aboutEducation {
    margin-top:5vh;
    line-height: 1;
  
  }

  @media (max-width: 760px){


    .aboutContainer {
      display: flex;
      flex-direction: column;
      margin-top: 10vh;
    }
  
    .aboutTextContainer {
      margin-left: 6vw;
      margin-right: 6vw;
      text-align: left;
      height: auto;
      width: 75vw;
      line-height: 1.5;
      font-size: larger;
      color: black;
      margin-bottom: 5vh;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  
    .aboutPhoto {
      height: 50vh;
      width: 75vw;
      max-width: 400px;
      margin: 2vw;
      @include border-shadow ;
    }

    .name-header{
      animation-name: moveInRight;

    }
  
  
  }