.footerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
    background-color: #618dfb;
    opacity: .8;
  
  }

  @media (max-width: 867px){

    .footerContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 75vh;
      background-color: #618dfb;
      opacity: .8;
    
    }
  }

  .footerElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: x-large;
    height: 20vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
  }
  
  .footerContent {
    font-weight: normal;
    font-size: large;
  
  }
  
  .footerLogo {
    height: 30px;
    border-radius: 1000px;
    position: relative;
  
  }
  
  .footerLogo:hover {
    top: -5px;
  }

  .Resume {
    font-size: large;
    color: black;
  }