$footer-primary-color:#618dfb ;

@mixin footer-layout-config($flex-direct){
  display: flex;
  flex-direction: $flex-direct;
  align-items: center;
  justify-content: space-evenly;
}


.footerContainer {

    @include footer-layout-config(row);
    height: 20vh;
    background-color: $footer-primary-color;
    opacity: .8;
  
  }

  @media (max-width: 867px){

    .footerContainer {
      @include footer-layout-config(column);
      height: 75vh;
      background-color: $footer-primary-color;
      opacity: .8;
    }
  }

  .footerElement {
    @include footer-layout-config(column);
    font-size: x-large;
    height: 20vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
  }
  
  .footerContent {
    font-weight: normal;
    font-size: large;
  
  }
  
  .footerLogo {
    height: 30px;
    border-radius: 1000px;
    position: relative;
    transition: all .2s;
  
  }
  
  .footerLogo:hover {
    transform: translateY(-5px);
  }

  .Resume {
    font-size: large;
    color: black;
  }