$project-header-primary-color: #1cb0ff;

@mixin project-header-layout($flexDirect) {
    display: flex;
    flex-direction: $flexDirect;
    justify-content: space-evenly;
    align-items: center;
}

@mixin header-fixed-positioning() {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    opacity: .8;
    width: 100vw;
}

@mixin hidden-element() {
    visibility: hidden;
    height: 0;
    width: 0;
}

@mixin visible-element() {
    visibility: visible;
    height: 0vh;
    width: 0vh;
}

.projectHeaderContainer {
    background-color: $project-header-primary-color;
    height: 10vh;
    @include project-header-layout(row);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    opacity: .8;
    width: 100vw;
  }

  .projectHeaderMobile {
    @include hidden-element();
  }
  
  .projectMenuIcon{
    @include hidden-element();

  }

.projectHeaderElements{
    background-color: $project-header-primary-color;
    min-height: 10vh;
    height: auto;
    @include project-header-layout(row);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    opacity: .8;
    width: 100vw;
}

.closeableHeaderElement{
    @include visible-element();

}

.closeableProjectHeaderContainer{
    @include visible-element();

}

.closeAbleprojectHeaderElements{
    @include visible-element();

}

@media (max-width: 584px){
     .projectMenuIcon{
        visibility: visible;
        height: auto;
        width: auto;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .projectHeaderContainer {
        @include hidden-element();

    }

    .projectHeaderElements{
        height: 0vh;
        width: 0vh;
    } 
  
    .projectHeaderMobile {
        visibility: visible;
        height: auto;
        width: auto;
      }

    .projectHeaderMain {
        @include hidden-element();

    }

    .closeableProjectHeaderContainer{
        background-color: $project-header-primary-color;
        min-height: 10vh;
        height: auto;
        @include project-header-layout(column);
        @include header-fixed-positioning();

    }
    .closeAbleprojectHeaderElements{
        background-color: $project-header-primary-color;
        min-height: 10vh;
        height: auto;
        @include project-header-layout(column);
       @include header-fixed-positioning();
    }

    .closeableHeaderElement {
        height: auto;
        width: 100vw;
        font-size: x-large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: all .2s;

        &:hover {
            position: relative;
            transform: translateY(-5px);
        }
      }
    
    
    

  
  }