
@media (max-width: 584px){

    .profilePic {
      visibility: hidden;
      flex: 0;
      margin-right: 0px;
      width: 0px;
      border-radius: 0rem;
      height: 0px;
    }
  
  }
  
  .university {
    margin-left: 5vw
  }
  
  
  li {
    list-style: circle;
    line-height: 1.5;
  }
  
  
  .homePageProjectsTitle {
    height: 5vh;
    opacity: .8;
    margin-bottom: 7vh ;
    margin-top: 7vh ;
  
  }
  
  .projectsContainer {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100vw;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  
  
  .projectsContainerOuter {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    margin-top: 6vh;
   
  }
  
  
  
  .projectElement {
    height: 50vh;
    width: 20vw;
    border-color: black;
    border-width: 2;
    border-style: solid;
  
  }
  
  
  .projectElement:hover {
    height: 50vh;
    width: 20vw;
    background-color: black;
    opacity: .3;
    
  }
  
  
  
  .projectImage {
    width: 100%;
    height: 100%;
  }
  
  
  
  
  .container {
    position: relative;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: aquamarine;
    border-color: lightslategray;
    border-style: solid;
    border-width: 3;
    box-shadow: 3px 3px 3px black;
    
  }
  
  
  
  @media (max-width: 1200px){
  
  
  
  .projectsContainerOuter {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
  
   
  }
  
    .projectsContainer {
      display: flex;
      flex-direction: column;
      height: 200vh;
      width: 100vw;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: nowrap;
    }
    .container {
      position: relative;
      width: 55vw;
      height: 42vh;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      background-color: aquamarine;
      border-color: lightslategray;
      border-style: solid;
      border-width: 3;
      box-shadow: 3px 3px 3px black;
      margin-bottom: 2vh;
      margin-top: 2vh;
  
      
    }
  
  .projectImage {
    width: 55vw;
    height: 42vh;
  }
  .image {
    display: block;
    width: 50vw;
    height: 50vh;
  }
    
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: .8;
  }
  
  
  .textButton {
    color: black;
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 3;
    box-shadow: 3px 3px 3px black;
  }
  
  .textButton:hover {
    background-color: white;
  }
  
  
  
  .projectTitle {
    margin-top: 12vh;
    margin-bottom: 1vh;
    font-size: larger;
    opacity: .8;
    margin-right: 4vw;
    margin-left: 4vw;
  }
  
  .photoSetContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 75vh;
    height:auto;
    width: 35vw;
    opacity: .8;
    margin-bottom: 5vh;
    margin-left: 5vw;
  }
  
  .photoContainer {
    min-height: 40vh;
    height: auto;
    width: 20vw;
    border-color: black;
    border-width: 2;
    border-style: solid;
    margin-top: 2.5vh;
    margin-left: 5vh;
    box-shadow: 3px 3px 3px black;
  }
  
  .projectPhoto {
    display: block;
    width: 20vw;
    min-height: 40vh;
    max-height: 50vh;

    height: auto;
  }
  
  .sourceLinksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
  }
  .sourceLinks {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10vw;
    margin-right: 10vw;
  
  } 
  
  .sourceLink {
    color: black;
    font-weight: bold;
    font-size: x-large;
    border-color: white;
    border-width: 2;
    border-style: solid;
    width: 20vw;
    height: 13vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: .8;
    box-shadow: 3px 3px 3px black;
  }
  
  .sourceLink:hover {
    position: relative;
    top: -5px;
  }
  
  .projectAboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    height: auto;
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #ff6b1c;
    opacity: .8;
  }
  
  .projectAboutTextContainer {
    margin-left: 10vw;
    text-align: left;
    height: auto;
    width: 100vw;
    line-height: 1.5;
    font-size: larger;
    color: black;
    margin-right: 10vw;
    margin-bottom: 1vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  a {
    text-decoration: none
  }
  
  @media (max-width: 1200px){
    .projectAboutContainer {
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 100vw;
    }
  
    .projectAboutTextContainer {
      text-align: left;
      height: auto;
      margin-left: 15vw;
      margin-right: 15vw;
      width: 80vw;
  
      
    }
  
  .photoSetContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
  
    min-height: 55vh;
    height: auto;
    margin-bottom: 0vh;
    margin-left: 0vw;
    margin-right: 0vw;
    
  }
  
  .photoContainer {
    height: 40vh;
    width: 35vw;
    max-width: 300px;
    margin-left: 0vw;
    margin-right: ovw;
    
  
  }
  
  .projectPhoto {
    display: block;
    width: 35vw;
    max-width: 300px;
    height: 40vh;
  }
  .sourceLink {
    color: black;
    font-weight: bold;
    font-size: x-large;
    border-color: white;
    border-width: 2;
    border-style: solid;
    width: 25vw;
    height: 17vh;
  
  }
  
  }
  