$about-container-color: #61fbcf;

@mixin about-layout($flex-direct) {
  display: flex;
  flex-direction: $flex-direct;
  justify-content: space-evenly;
}

.skillsContiner {
  @include about-layout(column);
    flex-wrap: wrap;
    align-items: space-evenly;
    min-height: 65vh ;
    height: auto;
    background-color: $about-container-color;
    margin-bottom: 10vh;
    padding-bottom: 2vh;
  }
  
  
  .skillsContinerOpacity {
    opacity: .8;
  }
  
  .skillsRow {
    @include about-layout(row);
    flex-wrap: nowrap;
    align-items: center;
  
  }
  
  .skillsElement {
  
    flex:1;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    font-weight: bold;
    margin-bottom:2vh;

  }
  
  .skillsPhoto {
    height: 100px;

  }
  
  .skillTitle {
  
    flex: .1;
    font-size: xx-large;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  


@media (max-width: 760px){


    .skillsRow {
      flex-direction: column;
    }
}  